.card {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    overflow: hidden;
    margin: 16px;
  }
  
  .card-head {
    padding: 16px;
  }
  
  .card-body {
    display: contents ;
    overflow: hidden;
  }
  
  .card-footer {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .actions-footer-left {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .actions-footer-right {
    display: flex;
    flex-direction: column;
    gap: px;
  }