<div class="card" >
    <div class="card-head">
      <ort-horizontal card-head [position.vertical]="'start'" [position.horizontal]="'center'">
        <ng-content select="[card-head]"></ng-content>
    </ort-horizontal>
    </div>
    <div class="card-body">
      <ng-content select="[card-body]"></ng-content>
    </div>
    <div class="card-footer">
      <div class="card-footer-left">
        <ng-content select="[card-footer-left]"></ng-content>
      </div>
      <div class="card-footer-right">
        <ng-content select="[card-footer-right]"></ng-content>
      </div>
    </div>
  </div>
