:host {
    display: flex;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
  
  :host .modal-container {
    display: inline-block;
    max-width: 680px !important;
    max-height: 600px;
    box-sizing: border-box;
    background: #ffffff;
    box-shadow: 0px 12px 24px rgba(102, 109, 146, 0.2);
    border-radius: 8px;
    z-index: 1000;
    position: relative;
    pointer-events: auto;
  }
  
  
  :host header {
    position: relative;
    padding: 24px;
    border-bottom: 1px solid var(--disabled-background-color);
    box-sizing: border-box;
  }
   
 
  :host .content {
    padding: 24px;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: auto;
    max-height: 380px;
  }
  
  :host footer {
    padding: 24px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;
    box-sizing: border-box;
  } 