<div class="banner">
    <div class="banner-image" [style.background-image]="'url(' + imageUrl + ')'"></div>
    <div class="shadow-overlay"></div>
    <div class="banner-content">
        <div class="text-holder">
            <div class="inner-wrapper">
            <div class="inner-indented">
            <span class="ico icon-logo"></span>
            <h4 class="heading-h3 txt--white">M'Gouna</h4>
            <h1 class="heading-h1 txt--white">New Limited Edition</h1>
            <p class="txt--white">Discover our new limited edition, a beautiful tribute to the Moroccan Valley of Roses.</p>
            <div class="content-banner-btn-wrapper">
            <a href="https://www.rituals.com/en-nl/collection-story-mgouna.html" class="btn btn--white-filled" data-internal-promotion="mgouna-042023-homepage-banner-collection-btn" data-is-pushed="true">
            Shop Now
            </a>
            </div>
            </div>
            </div>
            </div>
        <a href="#" class="cta-button">Get Started</a>
    </div>
  </div>
  