:host {
    display: inline-block;
  }
  


  :host ::ng-deep input {
    padding: var(--p-spacing3); 
    background-color: var(--colorBackground); 
    border-radius: var(--borderRadius); 
    transition: background 0.15s ease, border 0.15s ease, box-shadow 0.15s ease, color 0.15s ease; 
    border: 1px solid var(--p-colorBackgroundDeemphasize10);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.03), 0px 3px 6px rgba(0, 0, 0, 0.02); 
}
  :host ::ng-deep input {
    width: 100%;    
    font-family: Barlow, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 145%;
    letter-spacing: 0.01em;
    color: var(--secondary-text-color);
    outline: none;
  }
   
  
  .input-label {
    display: inline-block;
    margin-bottom: 8px;
    font-family: Barlow, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 115%;
    color: var(--primary-text-color);
  }
  
  .input-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
  }

  
  .icon-start {
    cursor: auto;
    color: var(--primary-text-color);
    padding: 16px 12px;
    font-size: 18px;
    position: absolute;
    user-select: none;
  }
  
  :host ::ng-deep input:hover,
  :host ::ng-deep input:focus {
    border: 1px solid var(--action-background-hover);
  }
  